#about
  %p
    RLVNT is a photography website.
    
  %p
    It might become something else, but for now it is just that.
    
  %p
    If you want to use pictures displayed here, please contact me first via marcg.gauthier (at) gmail (dot) com, I am usually quite friendly. I'm also reachable on <a href="http://twitter.com/marcgg">Twitter</a> if you're into social networks.
    
  %p
    Photos have been taken with either a Canon Rebel, a Nikon D90 or a disposable camera.
  
  %p
    Cheers<br />
    Marc - 