%p{:style => "color:#fff; text-align:center; color:#000;"}
  Nature

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5068/5740894321_cbd3477121_b.jpg"} 
    
%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3319/5741474054_bbceb162bd_b.jpg"}

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3276/5740928253_090c366059_b.jpg"}
    
%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5150/5740871175_62b8aae232_b.jpg"}
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2042/5740797661_ce43c9339c_b.jpg"}
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2317/5740864635_d289014665_b.jpg"}

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5228/5740764583_93ee2f90fc_b.jpg"}
    
%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3078/5740805023_fe41e7d785_b.jpg"}

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5230/5740767659_e839f23452_b.jpg"}
     
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2319/5740715929_6db8c5efb3_b.jpg"}
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2167/5740858973_5d2e4d08be_b.jpg"}
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2056/5741390662_ee03ce9506_b.jpg"}
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2551/5741424698_4b36e61f0d_b.jpg"}


%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2747/5740936469_6d037335f8_b.jpg"}
  %h2 And Us
  %p 
    %span Just getting the chance to see all of this.