%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3504/3467175862_dbbe2fe6a3_b.jpg"}
  %h2 Take on Brooklyn
  %p 
    %span From downtown Brooklyn, on top of a subway station, you can often get a good view of Manhattan.
    
%section
  .img-wrapper
    %img{:src => "http://farm2.static.flickr.com/1315/5105422003_5806b36bb1_b.jpg"}
  %h2 Mont Royal
  %p 
    %span On Montreal's own Mont Royal, you're freezing but you can lay down on the grass.   

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3398/3558060086_81aaf89b85_b.jpg"}
  %h2 Graph
  %p 
    %span Spotted these graphers working on a wall in the Lower East Side.
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2435/3773680557_7487d70304_b.jpg"}
  %h2 Selling Records
  %p 
    %span First and second hand CDs and vinyls can be found in this shop in Berkeley.

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3561/3484411005_2db753cc8c_b.jpg"}
  %h2 Skating
  %p 
    %span Met <a href="http://dantheman.tv">Dan</a> while walking in Williamsburg and improvised something in front of the skyline.
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2428/3590829227_9956b44722_b.jpg"}
  %h2 Emilie Simon
  %p 
    %span Seen at Le Poisson Rouge, Manhattan, for a short presentation of her new album at the time.

%section
  .img-wrapper
    %img{:src => "http://farm5.static.flickr.com/4066/4311656569_fd7920b2e4_b.jpg"}
  %h2 Bubbles
  %p 
    %span Even if this part of Barcelona is quite touristy, you still see things worth going there.
          
           
    
