%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3504/3467175862_dbbe2fe6a3_b.jpg"}
  %h2 Take on Brooklyn
  %p 
    %span From downtown Brooklyn, on top of a subway station, you can often get a good view of Manhattan.
    
%section
  .img-wrapper
    %img{:src => "http://farm2.static.flickr.com/1315/5105422003_5806b36bb1_b.jpg"}
  %h2 Mont Royal
  %p 
    %span On Montreal's own Mont Royal, you're freezing but you can lay down on the grass.   

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5110/5582351928_7d6b3f57de_b.jpg"}
  %h2 M.Chat in Sarajevo
  %p 
    %span He's everywhere in this city
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2435/3773680557_7487d70304_b.jpg"}
  %h2 Selling Records
  %p 
    %span First and second hand CDs and vinyls can be found in this shop in Berkeley.

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3561/3484411005_2db753cc8c_b.jpg"}
  %h2 Skating
  %p 
    %span Met <a href="http://dantheman.tv">Dan</a> while walking in Williamsburg and improvised something in front of the skyline.
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2428/3590829227_9956b44722_b.jpg"}
  %h2 Emilie Simon
  %p 
    %span Seen at Le Poisson Rouge, Manhattan, for a short presentation of her new album at the time.

%section
  .img-wrapper
    %img{:src => "http://farm5.static.flickr.com/4066/4311656569_fd7920b2e4_b.jpg"}
  %h2 Bubbles
  %p 
    %span Even if this part of Barcelona is quite touristy, you still see things worth going there.
          
%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3662/3466377841_fc05a71782_b.jpg"}
  %h2 Gardening
  %p 
    %span Planting flowers in Williamsburg, Brooklyn

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5091/5581792013_9e4b3772e9_b.jpg"}
  %h2 Sarajevo
  %p 
    %span This city is still scared by war, but managed to be welcoming and interesting in many ways.
    
%section
  .img-wrapper
    %img{:src => "http://farm5.static.flickr.com/4140/4916568609_a9a1517212_b.jpg"}
  %h2 Dogs, Girls, Guy
  %p 
    %span Berlin is strange city.
            
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2566/3912165978_9609ede35c_b.jpg"}
  %h2 Tribute in Light
  %p 
    %span Once a year the city of New York pays a tribute to the victims of 9/11

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5131/5523457918_a9f676a2b5_b.jpg"}
  %h2 Rue Dénoyez
  %p 
    %span The street is given to the street artists. I could spend hours there.
