%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3504/3467175862_dbbe2fe6a3_b.jpg"}
  %h2 Take on Brooklyn
  %p 
    %span From downtown Brooklyn, on top of a subway station, you sometime get a good view of Manhattan.
    
%section
  .img-wrapper
    %img{:src => "http://farm2.static.flickr.com/1315/5105422003_5806b36bb1_b.jpg"}
  %h2 Mont Royal
  %p 
    %span On top of Montreal's own Mont Royal, you're freezing but you can lay down on the grass.   
    