!!!
%html.no-js
  %head
    %title RLVNT is a Photography Website
    
    %link{:rel => "stylesheet", :href=>'/css/reset.css', :type => "text/css"}
    %link{:rel => "stylesheet/less", :href=>'/css/style.less', :type => "text/css"}
    %link{:rel => "SHORTCUT ICON", :href => "/images/favicon.png"}
    
    %meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8"}
    %meta{:name => "Description", :content => "Pictures from New York, Berlin, Paris, Barcelona, Montreal and more. Hopefully this will be rlvnt enough."}
      
    %script{:src => "http://lesscss.googlecode.com/files/less-1.0.18.min.js"}
    
  %body
    %a#header{:href => "/"}
    
    %nav
      %a{:href => "/", :class => params[:page].nil? && "selected" } Favorites
      %a{:href => "/cities", :class => params[:page] == "cities" && "selected"} Cities
      %a{:href => "/street_art", :class => params[:page] == "street_art" && "selected"} Street Art
      %a{:href => "/riding", :class => params[:page] == "riding" && "selected"} Riding
      %a{:href => "/people", :class => params[:page] == "people" && "selected"} People
      %a{:href => "/about", :class => params[:page] == "about" && "selected"} About
      
    %article
      = yield
    
    %nav
      %a{:href => "/", :class => params[:page].nil? && "selected" } Favorites
      %a{:href => "/cities", :class => params[:page] == "cities" && "selected"} Cities
      %a{:href => "/street_art", :class => params[:page] == "street_art" && "selected"} Street Art
      %a{:href => "/riding", :class => params[:page] == "riding" && "selected"} Riding
      %a{:href => "/people", :class => params[:page] == "people" && "selected"} People
      %a{:href => "/about", :class => params[:page] == "about" && "selected"} About
       
    %footer
      %p
        Get in touch with me on
        %a{:href => "http://twitter.com/marcgg"} Twitter
      
    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20956603-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>