%section
  .img-wrapper
    %img{:src => "http://farm5.static.flickr.com/4151/5106010844_d78ef298f2_b.jpg"}
  %h2 Krista
  %p 
    %span Meet Krista

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3391/5740771673_f9142030db_b.jpg"}
  %h2 Julien, André & Matthieu
  %p 
    %span On the Eyjafjallajökull, we stopped there and just walked around this volcano in the sunset light. 

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5300/5581748931_e937f23369_b.jpg"}
  %h2 Unknown Bosnian Girl
  %p 
    %span Saw this girl a couple of time while visiting Sarajevo.

%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2532/5741440104_5111ff31b8_b.jpg"}
  %h2 André
  %p 
    %span In Iceland

%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2435/3773680557_7487d70304_b.jpg"}
  %h2 Selling Records
  %p 
    %span First and second hand CDs and vinyls can be found in this shop in Berkeley.
    
%section
  .img-wrapper
    %img{:src => "http://farm5.static.flickr.com/4071/4304241215_e6eff1408a_b.jpg"}
  %h2 Seb
  %p 
    %span Sebastien plays guitar and is my roomate.

%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2024/3527614672_34866dd933_b.jpg"}
  %h2 Watching the Hudson
  %p 
    %span Met randomly this guy who would spend hours watching boats on the Hudson river.

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3632/3583715270_5dd2e4fe71_b.jpg"}
  %h2 Zombies!
  %p 
    %span OMG! 

%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2220/5740842259_6bb9c4b296_b.jpg"}
  %h2 Matthieu
  %p 
    %span Shot in Jokulsarlon, one of the most impressive part of South Iceland

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5122/5338625389_4ef9a74d87_b.jpg"}
  %h2 Guillaume
  %p 
    %span 
      My other roomate that 
      %a{:href => "http://guillaumeflandre.com/photos"} takes pictures
    
    