%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3561/3484411005_2db753cc8c_b.jpg"}
  %h2 Skating
  %p 
    %span Met <a href="http://dantheman.tv">Dan</a> while walking in Williamsburg and improvised something in front of the skyline.

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3560/3828321698_6e3414a2ed_b.jpg"}
  %h2 BMX
  %p 
    %span Manhattan's financial district can be more fun than it seems.

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3555/3519608478_3577e8293b_b.jpg"}
  %h2 Tables
  %p 
    %span For some reason there are tables in the street. It must be to jump over them, isn't it?
