%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5131/5523457918_a9f676a2b5_b.jpg"}
  %h2 Rue Dénoyez
  %p 
    %span The street is given to the street artists. I could spend hours there.

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5110/5582351928_7d6b3f57de_b.jpg"}
  %h2 M.Chat in Sarajevo
  %p 
    %span He's everywhere in this city
    
%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5259/5522829213_c49699d09d_b.jpg"}
  %h2 Artist
  %p 
    %span It's not about the look.

%section
  .img-wrapper
    %img{:src => "http://farm5.static.flickr.com/4096/4917162692_50da140228_b.jpg"}
  %h2 Eastern Gallery
  %p 
    %span The last part of the Berlin wall remaining is now 1 mille of brilliant artwork.

%section
  .img-wrapper
    %img{:src => "http://farm5.static.flickr.com/4114/4917132856_5c26a0aa4d_b.jpg"}
  %h2 Tacheles
  %p 
    %span Berlin's biggest art squat got quite mainstream, but it is still an amazing place to see.

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3398/3558060086_81aaf89b85_b.jpg"}
  %h2 Graph
  %p 
    %span Spotted these graphers working on a wall in the Lower East Side.
        
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2474/3810620600_205b7ea76b_b.jpg"}
  %h2 Open Your Eyes
  %p 
    %span 
      Wish I could see this in the making. Note that you can 
      %a{:href => "http://www.usineadesign.com/catalogue/decorations-murales/2539/tableau-triptyque-concours-facebook-open-your-eyes-par-marc-gauthier"} buy a fancy print of this 
      online.
    
