%p{:style => "color:#fff; text-align:center; color:#000;"}
  Tourists...

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5268/5677219529_ca5fb2a5b3_b.jpg"}
    
%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5309/5677775130_363f4f37e4_b.jpg"}


