%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5138/5581739523_720dd6ddb2_b.jpg"}
  %h2 Flying
  %p 
    %span Because it often starts like this

%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5227/5581821673_0bc67ed8e9_b.jpg"}
  %h2 Sarajevo
  %p 
    %span 
      From 
      %a{:href => "http://www.hyh.ba/"} Haris Youth Hostel
      's terrace, the view is amazing.

%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2747/5740936469_6d037335f8_b.jpg"}
  %h2 Iceland
  %p 
    %span Taking the time to look at a Fjord. Just a small part of one of the most beautiful countries.
    
%section
  .img-wrapper
    %img{:src => "http://farm5.static.flickr.com/4102/4917170738_dd5ca22b51_b.jpg"}
  %h2 Discovering Berlin
  %p 
    %span The city has a very unique feel to it.

%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2451/3845720337_0c2a23c311_b.jpg"}
  %h2 Manhattan
  %p 
    %span The main problem with Manhattan is that you have to go to Brooklyn to see it as it should be seen.

%section
  .img-wrapper
    %img{:src => "http://farm4.static.flickr.com/3404/3606707346_dcff046ca5_b.jpg"}
  %h2 Washington DC
  %p 
    %span This place is confusing.
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2695/4312393358_bd26f4cc74_b.jpg"}
  %h2 Top of Barcelona
  %p 
    %span Climb a hill, find a band playing upbeat music. Sit down and enjoy. Be happy that you bought a small single-use camera.

%section
  .img-wrapper
    %img{:src => "http://farm2.static.flickr.com/1315/5105422003_5806b36bb1_b.jpg"}
  %h2 Mont Royal
  %p 
    %span On Montreal's own Mont Royal, you're freezing but you can lay down on the grass.
    
%section
  .img-wrapper
    %img{:src => "http://farm6.static.flickr.com/5302/5582414176_7d593a10df_b.jpg"}
  %h2 Train Station Somewhere in Croatia
  %p 
    %span In the Western Balkans, some train stations are just lost in the middle of nowhere.
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2771/4450709470_6574d05710_b.jpg"}
  %h2 Paris
  %p 
    %span This city doesn't want to get its picture taken. Black and white is required.
    
%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2516/3891242899_f44cc8b448_b.jpg"}
  %h2 Top of the Rock
  %p 
    %span Somehow I like focusing on the big picture for Manhattan, but it's the small details that make it an amazing place. And yes, this is HDR.
    

%section
  .img-wrapper
    %img{:src => "http://farm3.static.flickr.com/2584/3774452598_a4a0958e9d_b.jpg"}
  %h2 San Francisco
  %p 
    %span Chinatown is intense here.
    
    